<div class=" bg" style="position:center; ">
    <!-- <img style=" width:100%; height:100%" src="https://media0.giphy.com/media/27sTvWYVOJUu5h3h0C/200w.webp?cid=ecf05e47wko7vatd5jxh0e7v11m610ochbclhu8267d9v69n&rid=200w.webp&ct=g" /> -->
    <!-- <img style=" width:100%; height:100%" src="https://media1.giphy.com/media/Phna8ImVFWEqxPUIfk/200w.webp?cid=ecf05e47s728hh7hqy3ho5oluk7myw3xqi5wpsebdq2a6opm&rid=200w.webp&ct=g" /> -->
    <!-- <img style=" width:100%; height:100%" src="https://media2.giphy.com/media/3ov9jSVZW5EkTUnzeE/200.webp?cid=ecf05e47mxmzqhd5i2swdq8hzj0t9x19vspdm6syq4gjticr&rid=200.webp&ct=g" /> -->
    <img class="offset-md-6" style=" width:50%; height:50%" src="https://www.animatedimages.org/data/media/1633/animated-shopping-cart-image-0016.gif" />
</div>
